.rate-fivestar-btn-filled {
  display: inline-block;
  background: url(fivestar_filled.png);
  width: 16px;
  height: 16px;
  text-indent: -999px;
}

.rate-fivestar-btn-empty {
  display: inline-block;
  background: url(fivestar_empty.png);
  width: 16px;
  height: 16px;
  text-indent: -999px;
}

